<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

<style>
    .bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    }
</style>


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!DOCTYPE html>
<html>

<style>
body {
  background-color: rgba(201, 76, 76, 0.3);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.card-image{
  width: 30%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.row{
  width: 50%;
  height:70%;

}
.card{
  background-color: rgb(240, 240, 240);
}
.pos_right {
    position: relative;
    left: 560px;
}
</style>

<body>

<form method="POST" >
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Officiallogodmk.jpg/1200px-Officiallogodmk.jpg">

        </div>
        <div class="card-content">
           <h6><p style="color: blue    ">Leader: M.K.Stalin</p></h6>
           <h6><p style="color: blue">Party: DMK(Dravida Munnetra Kazhagam)</p></h6>
           <h6><p style="color: blue">Leader Since: 2018</p></h6>
           <h6><p style="color: blue">Allies: Congress</p></h6>
           <h6><p style="color: blue">Leader Seat: Kolathur</p></h6>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn-small" href="votes/1" >VOTE</a>
            <a class="pos_right" href="votes/1/results"><input type="button" value="RESULT" class="btn btn-info"></a>
        </div>
      </div>
    </div>
  </div>
</form>

<form method="POST">
    {% csrf_token %}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/AIADMKlogo.jpg">

        </div>
        <div class="card-content">
           <h6><p style="color: blue">Leader: Edappadi K.Palaniswami</p></h6>
           <h6><p style="color: blue">Party: AIADMK(All India Anna Dravida Munnetra Kazhagam)</p></h6>
           <h6><p style="color: blue">Leader Since: 2017</p></h6>
           <h6><p style="color: blue">Allies: BJP</p></h6>
           <h6><p style="color: blue">Leader Seat: Edappadi</p></h6>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small" href="votes/2">VOTE</a>
          <a class="pos_right" href="votes/2/results"><input type="button" value="RESULT" class="btn btn-info"></a>
        </div>
      </div>
    </div>
  </div>
</form>

<form action="votes/3" method="POST">

    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="https://img.dtnext.in/Articles/2021/Mar/202103210134096121_AMMK-mans-nomination-rejected_SECVPF.gif">

          </div>
          <div class="card-content">
              <h6><p style="color: blue">Leader: T.T.V.Dhinakaran</p></h6>
              <h6><p style="color: blue">Party: AMMK(Amma Makkal Munnettra Kazagam)</p></h6>
              <h6><p style="color: blue">Leader Since:2018</p></h6>
              <h6><p style="color: blue">Allies: DMMK</p></h6>
              <h6><p style="color: blue">Leader Seat: Kovilpatti</p></h6>
          </div>
          <div class="card-action">
             <a class="waves-effect waves-light btn-small" href="votes/3">VOTE</a>
             <a class="pos_right" href="votes/3/results"><input type="button" value="RESULT" class="btn btn-info"></a>
          </div>
        </div>
      </div>
    </div>
</form>
<form method="POST">
{% csrf_token %}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://img.dtnext.in/Articles/2020/Oct/202010130358057731_MNM-to-decide-poll-strategy-at-Oct-16-meeting_SECVPF.gif">

        </div>
        <div class="card-content">
           <h6> <p style="color: blue">Leader: KamalHasan</p></h6>
           <h6><p style="color: blue">Party: MNM(Makkal Needhi Maiam)</p></h6>
           <h6><p style="color: blue">Leader Since:2018</p></h6>
           <h6><p style="color: blue">Allies: MMK</p></h6>
           <h6><p style="color: blue">Leader Seat: Coimbatore South</p></h6>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small" href="votes/4">VOTE</a>
          <a class="pos_right" href="votes/4/results"><input type="button" value="RESULT" class="btn btn-info"></a>
        </div>
      </div>
    </div>
  </div>
</form>
<form method="POST">
{% csrf_token %}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.naamtamilar.org/wp-content/uploads/2018/12/%E0%AE%A8%E0%AE%BE%E0%AE%AE%E0%AF%8D-%E0%AE%A4%E0%AE%AE%E0%AE%BF%E0%AE%B4%E0%AE%B0%E0%AF%8D-%E0%AE%A8%E0%AE%AE%E0%AE%A4%E0%AF%81-%E0%AE%9A%E0%AE%BF%E0%AE%A9%E0%AF%8D%E0%AE%A9%E0%AE%AE%E0%AF%8D-%E0%AE%B5%E0%AE%BF%E0%AE%B5%E0%AE%9A%E0%AE%BE%E0%AE%AF%E0%AE%BF-Naam-Tamilar-Election-Symbol-karumbu-Vivasayi-logo.png">
        </div>
        <div class="card-content">
           <h6><p style="color: blue">Leader: Seeman</p></h6>
           <h6><p style="color: blue">Party: NTK(Naam Tamilar Katchi)</p></h6>
           <h6><p style="color: blue">Leader Since:2009</p></h6>
           <h6><p style="color: blue">Allies: None</p></h6>
           <h6><p style="color: blue">Leader Seat: Thiruvottiyur</p></h6>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small" href="votes/5">VOTE</a>
          <a class="pos_right" href="votes/5/results"><input type="button" value="RESULT" class="btn btn-info"></a>
        </div>
      </div>
    </div>
  </div>
</form>

</body>
</html>
